<h1 class="page-header">Widget {{widget.name}}<small><i class="icon-double-angle-right"></i> manage your widgets</small></h1>
<div class="form-group row">
  <label class="col-md-2 control-label">Name</label>  
  <div class="col-md-8">
    <input ng-model="widget.name" type="text" class="form-control input-md" />
    <span class="help-block">A unique name for the widget (use '/' to separate foldernames)</span>
  </div>
</div>
<div class="form-group row">
  <label class="col-md-2 control-label">Template name</label>  
  <div class="col-md-8">
    <input ng-model="widget.templateName" type="text" class="form-control input-md" />
    <span class="help-block">The entry template for the widget</span>
  </div>
</div>
<div class="form-group row">
  <label class="col-md-2 control-label">Template</label>  
  <div class="col-md-8">
    <div ui-codemirror="editorOptions" name="template" ng-model="widget.template">{{widget.template}}</div>
  </div>
</div>
<div class="form-group row">
  <label class="col-md-2 control-label">Editor options</label>  
  <div class="col-md-8">
    <button type="button" class="btn btn-success" ng-click="editorOptions.fullScreen = true">Fullscreen</button>
    <button type="button" class="btn btn-warning" ng-click="generateBoilerplate()">Boilerplate</button>
  </div>
</div>

<fieldset>
	<legend>Datahandler</legend>
  <div class="form-group row">
    <label class="col-md-2 control-label">Datahandler</label>  
    <div class="col-md-8">
      <button type="button" class="btn btn-default form-control dropdown-toggle">{{widget.handler}}<span class="caret"></span></button>
      <ul class="dropdown-menu selectbox">
        <li ng-repeat="handler in datahandlers"><a ng-click="widget.handler = handler">{{handler}}</a></li>
      </ul>
    </div>
  </div>
  <div cn-datahandler-form cn-widget="widget" />
</fieldset>


<fieldset>
  <legend>Actions</legend>
  <button class="btn btn-success" ng-click="save()">Save</button>
</fieldset>
<div class="close-fullscreen clearfix" ng-show="editorOptions.fullScreen === true">
  <button type="button" class="btn btn-success" ng-click="save()">Save</button>
  <button type="button" class="btn btn-danger" ng-click="editorOptions.fullScreen = false;">&times;</button>
</div>
</div>