<h1 class="page-header">PageModels {{model.name}}<small><i class="icon-double-angle-right"></i> manage your page models</small></h1>
<div class="form-group row">
  <label class="col-md-2 control-label">Name</label>  
  <div class="col-md-8">
    <input ng-model="pagemodel.name" type="text" class="form-control input-md" />
    <span class="help-block">A unique name for the pagemodel</span>
  </div>
</div>
<div class="form-group row">
  <label class="col-md-2 control-label">Template name</label>  
  <div class="col-md-8">
    <input ng-model="pagemodel.templateName" type="text" class="form-control input-md" />
    <span class="help-block">A unique name for the template</span>
  </div>
</div>
<div class="form-group row">
  <label class="col-md-2 control-label">Path</label>  
  <div class="col-md-8">
    <input ng-model="pagemodel.path" type="text" class="form-control input-md" />
    <span class="help-block">The path under which the pagemodel will be visible</span>
  </div>
</div>
<div class="form-group row">
  <label class="col-md-2 control-label">Permissions</label>  
  <div class="col-md-8">
    <table class="table table-striped">
      <tr>
        <th>Name</th>
        <th>Actions</th>
      </tr>
      <tr ng-repeat="permission in pagemodel.permissions">
        <td>{{permission}}</td>
        <td><button class="btn btn-danger" ng-click="pagemodel.permissions.splice($index, 1)"><i class="fa fa-trash-o"></i></button></td>
      </tr>
      <tr>
        <td><input ng-model="newPermission" type="text" class="form-control input-md" /></td>
        <td><button class="btn btn-success" ng-click="addPermission(newPermission)"><i class="fa fa-plus"></i></button></td>
      </tr>
    </table>
    <span class="help-block">The permissions which are allowed to view this page.</span>
  </div>
</div>
<div class="form-group row">
  <label class="col-md-2 control-label">Roles</label>  
  <div class="col-md-8">
    <table class="table table-striped">
      <tr>
        <th>Name</th>
        <th>Actions</th>
      </tr>
      <tr ng-repeat="role in pagemodel.roles">
        <td>{{role}}</td>
        <td><button class="btn btn-danger" ng-click="pagemodel.roles.splice($index, 1)"><i class="fa fa-trash-o"></i></button></td>
      </tr>
      <tr>
        <td><input ng-model="newRole" type="text" class="form-control input-md" /></td>
        <td><button class="btn btn-success" ng-click="addRole(newRole)"><i class="fa fa-plus"></i></button></td>
      </tr>
    </table>
    <span class="help-block">The roles which are allowed to view this page.</span>
  </div>
</div>

<fieldset>
	<legend>Components</legend>
  <div ng-repeat="component in pagemodel.components track by $index" class="form-group row">
    <label class="col-md-2 control-label">Widget</label>  
    <div class="col-md-8 input-group">
      <button type="button" class="form-control btn btn-default dropdown-toggle">{{component.name}}</button>
      <ul class="dropdown-menu selectbox">
        <li ng-repeat="(component, options) in widgets"><a ng-click="pagemodel.components[$parent.$index].name = component">{{component}}</a></li>
      </ul>
      <span class="input-group-btn">
        <button class="btn btn-warning" ng-click="edit = !edit"><i class="fa fa-pencil"></i> Settings</button>
        <button class="btn btn-danger" ng-click="removeComponent($index)"><i class="fa fa-trash-o"></i> Remove</button>
      </span>
    </div>

    <div class="col-md-8 col-md-offset-2 input-group" ng-if="edit">
      <fieldset>
        <legend>Widget settings</legend>
        <blockquote>If your widget has options, you can set them here</blockquote>
        <fieldset ng-if="widgets[component.name].options !== null">
          <legend>Globals</legend>
          <div class="form-group" ng-repeat="(key, entry) in widgets[component.name].options" ng-if="entry.global">
            <label class="col-md-2 control-label">{{key}}</label>
            <div class="col-md-8">
              <input type="text" class="form-control input-md" ng-model="component.globals[key]" />
            </div>
          </div>
          <div ng-repeat="bundle in widgets[component.name].options.components">
            <div class="form-group" ng-repeat="(key, value) in bundle.globals" ng-if="value.substr(0,1) === ':'">
              <label class="col-md-2 control-label">{{value.substr(1)}}</label>  
              <div class="col-md-8">
                <input type="text" class="form-control input-md" ng-model="component.globals[value.substr(1)]" />
              </div>
            </div>
          </div>
        </fieldset>
      </fieldset>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-2 control-label">Add component</label>
    <div class="col-md-8 input-group">
      <button type="button" class="form-control btn btn-default dropdown-toggle">{{newComponent.name}}</button>
      <ul class="dropdown-menu selectbox">
        <li ng-repeat="(component, options) in widgets"><a ng-click="newComponent.name = component">{{component}}</a></li>
      </ul>
      <span class="input-group-btn">
        <button class="btn btn-success" ng-click="addComponent()">Add</button>
      </span>
    </div>
  </div>
</fieldset>
<fieldset>
  <legend>Actions</legend>
  <button class="btn btn-success" ng-click="save()">Save</button>
</fieldset>
</div>