<div ng-controller="WidgetContentController">
  <fieldset>
    <legend>Content selection</legend>
    <p class="lead">Enter the field (and value) for the query of the content. You can use a Global value, which means the value will be set at a higher level (e.g. pagemodel or widgetbundle).</p>
    <h4>Params:</h4>
    <dl>
      <dt>content</dt>
      <dd>The content item</dd>
    </dl>
    <div class="form-group row">
      <label class="col-md-2 control-label">ContentType</label>
      <div class="col-md-8">
        <select ng-options="contenttype as contenttype.name for contenttype in contenttypes" ng-model="contenttype" class="form-control input-md"></select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-2 control-label">Quantity</label>
      <div class="col-md-8">
        <input type="checkbox" ng-model="widget.handleroptions.multipleResults" /> Allow multiple results
      </div>
    </div>
    <div class="form-group row" ng-if="widget.handleroptions.multipleResults">
      <div ng-if="widget.handleroptions.pager !== undefined">
        <label class="col-md-2 control-label">Results per page</label>
        <div class="col-md-8">
          <input type="number" ng-model="widget.handleroptions.pager.resultsPerPage" class="form-control input-md"/>
          <span class="help">The number of items, or 0 for all.</span>
        </div>
      </div>
      <div ng-if="widget.handleroptions.pager === undefined">
        <label class="col-md-2 control-label">Results per page</label>
        <div class="col-md-8">
          <button class="btn btn-success" ng-click="widget.handleroptions.pager = {}">Add pager</button>
        </div>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend>Content query</legend>
    <p class="lead">Enter your content query.</p>
    <div class="form-group row">
      <label class="col-md-2 control-label">Fields</label>
      <div class="col-md-8">
        <table class="table table-striped">
          <tr>
            <th class="col-md-5">Field name</th>
            <th class="col-md-6">Field value</th>
            <th class="col-md-1">Actions</th>
          </tr>
          <tr ng-repeat="variable in widget.handleroptions.fields">
            <td>
              <input type="text" ng-model="variable.key" class="form-control" />
            </td>
            <td>
              <div ng-if="isDataType(variable.value.value, 'number')">
                <div class="input-group">
                  <span class="input-group-addon"><input type="checkbox" ng-model="variable.value.global" /> Global</span>
                  <input type="number" ng-disabled="variable.value.global" class="form-control" ng-model="variable.value.value" />
                </div>
              </div>
              <div ng-if="isDataType(variable.value.value, 'string')">
                <div class="input-group">
                  <span class="input-group-addon"><input type="checkbox" ng-model="variable.value.global" /> Global</span>
                  <input type="text" ng-disabled="variable.value.global" class="form-control" ng-model="variable.value.value" />
                </div>
              </div>
              <div ng-if="isDataType(variable.value.value, 'boolean')">
                <div class="input-group">
                  <span class="input-group-addon"><input type="checkbox" ng-model="variable.value.global" /> Global</span>
                  <div class="form-control">
                    <input type="checkbox" ng-disabled="variable.value.global" ng-model="variable.value.value" />
                  </div>
                </div>
              </div>
            </td>
            <td><button class="btn btn-danger" ng-click="widget.handleroptions.fields.splice($index, 1)"><i class="fa fa-trash-o"></i></button></td>
          </tr>
          <tr>
            <td><input type="text" class="form-control" ng-model="newFieldName" /></td>
            <td>
              <select ng-model="newFieldType" class="form-control">
                <option value="string">Text</option>  
                <option value="number">Number</option>
                <option value="boolean">True/false</option>
              </select>
            </td>
            <td><button class="btn btn-success" ng-click="addField(newFieldType, newFieldName)">Add new field</button></td>
          </tr>
        </table>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend>Custom field mappings</legend>
    <p class="lead">Enter your custom field mappings. These mappings are available as variables in the request. This means you can use them across widgets.</p>
    <div class="form-group row">
      <label class="col-md-2 control-label">Fields</label>
      <div class="col-md-8">
        <table class="table table-striped">
          <tr>
            <th class="col-md-5">Variable name</th>
            <th class="col-md-6">Variable value</th>
            <th class="col-md-1">Actions</th>
          </tr>
          <tr ng-repeat="variable in widget.handleroptions.customVariables">
            <td>
              <input type="text" ng-model="variable.key" class="form-control" />
            </td>
            <td>
              <div class="input-group">
                <span class="input-group-addon"><input type="checkbox" ng-model="variable.manual" /> Manual</span>
                <select ng-if="!variable.manual" ng-options="key as key for (key,field) in contenttype.schema.properties" ng-model="variable.value" class="form-control">
                  <option value="">Database ID</option>
                </select>
                <input ng-if="variable.manual" type="text" ng-model="variable" class="form-control" />
              </div>
            </td>
            <th><button class="btn btn-danger" ng-click="widget.handleroptions.customVariables.splice($index, 1)"><i class="fa fa-trash-o"></i></button></th>
          </tr>
          <tr>
            <td><input type="text" class="form-control" ng-model="newCustomVariableName" /></td>
            <td><button class="btn btn-success" ng-click="addCustomVariable()">Add custom variable</button></td>
          </tr>
        </table>
      </div>
    </div>
  </fieldset>
</div>