<div ng-controller="WidgetContentController">
  <div ng-controller="ReferenceContentController">
    <fieldset>
      <legend>Content selection</legend>
      <p class="lead">Enter the field (and value) for the query of the content. You can use a Global value, which means the value will be set at a higher level (e.g. pagemodel or widgetbundel). </p>
      <h4>Params:</h4>
      <dl>
        <dt>content</dt>
        <dd>the content which is referenced</dd>
        <dt>contents</dt>
        <dd>the referencing content</dd>
        <dt>pager</dt>
        <dd>a pager which will paginate your referencing items</dd>
      </dl>
      <div class="form-group row">
        <label class="col-md-2 control-label">ContentType</label>
        <div class="col-md-8">
          <select ng-options="contenttype as contenttype.name for contenttype in contenttypes" ng-model="contenttype" class="form-control input-md"></select>
          <span class="help">The content type which contains the 1-to-many reference (the one).</span>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-2 control-label">Content Query Field</label>
        <div class="col-md-8">
          <select ng-options="key as key for (key,field) in contenttype.schema.properties" ng-model="widget.handleroptions.fieldName" class="form-control input-md">
            <option value="">Database ID</option>
          </select>
          <span class="help">The field which is used to query the content.</span>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-2 control-label">Content Query Value</label>
        <div class="col-md-8">
          <div class="input-group">
            <span class="input-group-addon"><input type="checkbox" ng-model="widget.handleroptions.id.global" /> Global</span>
            <input type="text" ng-disabled="widget.handleroptions.id.global" class="form-control" ng-model="widget.handleroptions.id.value" />
          </div>
          <span class="help">The value which should be used.</span>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-2 control-label">Referenced ContentType</label>
        <div class="col-md-8">
          <select ng-options="contenttype as contenttype.name for contenttype in contenttypes" ng-model="referenced" class="form-control input-md"></select>
          <span class="help">The content type which is referenced to (the many).</span>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-2 control-label">Reference field</label>
        <div class="col-md-8">
          <select ng-options="key as key for (key,field) in contenttype.schema.properties" ng-model="widget.handleroptions.referencingField" class="form-control input-md">
          </select>
          <span class="help">The field which is referencing to the content.</span>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-2 control-label">Results per page</label>
        <div class="col-md-8">
          <input type="number" ng-model="widget.handleroptions.resultsPerPage" class="form-control input-md"/>
          <span class="help">The number of items, or 0 for all.</span>
        </div>
      </div>
    </fieldset>
    <fieldset>
    <legend>Custom field mappings</legend>
    <p class="lead">Enter your custom field mappings. These mappings are available as variables in the request. This means you can use them across widgets.</p>
    <div class="form-group row">
      <label class="col-md-2 control-label">Fields</label>
      <div class="col-md-8">
        <table class="table table-striped">
          <tr>
            <th class="col-md-5">Variable name</th>
            <th class="col-md-6">Variable value</th>
            <th class="col-md-1">Actions</th>
          </tr>
          <tr ng-repeat="variable in widget.handleroptions.customVariables">
            <td>
              <input type="text" ng-model="variable.key" class="form-control" />
            </td>
            <td>
              <div class="input-group">
                <span class="input-group-addon"><input type="checkbox" ng-model="variable.manual" /> Manual</span>
                <select ng-if="!variable.manual" ng-options="key as key for (key,field) in contenttype.schema.properties" ng-model="variable.value" class="form-control">
                  <option value="">Database ID</option>
                </select>
                <input ng-if="variable.manual" type="text" ng-model="variable" class="form-control" />
              </div>
            </td>
            <th><button class="btn btn-danger" ng-click="widget.handleroptions.customVariables.splice($index, 1)"><i class="fa fa-trash-o"></i></button></th>
          </tr>
          <tr>
            <td><input type="text" class="form-control" ng-model="newCustomVariableName" /></td>
            <td><button class="btn btn-success" ng-click="addCustomVariable()">Add custom variable</button></td>
          </tr>
        </table>
      </div>
    </div>
  </fieldset>
  </div>
</div>